.invisible {
    display: none;
}

li:hover {
    cursor: pointer;
}

li {
    margin: 0.5% auto;
}

.tab > input {
    border: 0px;
    border-radius: 10px;
    opacity: 0;
}

#warning {
    color: var(--red);
    margin: 0 auto;
}

.tab > input ~ span {
    padding: 10px;
    border-radius: 10px;
    color: var(--gray);
    background-color: var(--light);
    &:hover {
        color: var(--primary);
    }
}

.tab > input:checked ~ span {
    background-color: var(--primary);
    color: var(--white);
}

.horizontal-tablist {
    margin: 15px auto;
    padding-left: 0;
    width: 100%;
    list-style: none;
    display: inline-flex;
}

input[type="text"] {
    margin: 5% auto;
    width: 4%;
}

a {
    --a-height: 35px;
    position: absolute;
    left: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    top: calc(50% - var(--a-height));
    height: var(--a-width);
    width: 35px;
    margin-left: 5%;
}

.card {
    /*--c-width: calc();*/
    width: 91%;
    /* position: absolute; */
    margin: 0 auto;
    position: relative;
}

@media (min-width: 1000px) {
    .card {
        width: 50%;
    }
    .card > .container  {
        width: 80%;
    }
}

.card > .container {
    margin: 2px auto;
    width: 99.87%;
    border: 0px;
    border-radius: 10px;
    background-color: var(--white);
}

.container > .header {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 100%;
    text-align: center;
    background-color: var(--green);
    color: var(--white);
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 5px;
    font-size: x-large;
    display: inline-block;
    position: relative;
}

.body {
    height: 100%;
    width: 100%;
    border-spacing: 0px 10px;
    color: var(--white);
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.card > .dropshadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--gray);
    border-radius: 10px;
    filter: blur(1px);
}

.body .board {
    text-align: center;
}

/* li {
    width: 100vw;
    text-align: center;
}
ul {
    padding-top: 7.5%;
} */