.container {
    /*--c-width: calc();*/
    width: 91%;
    /* position: absolute; */
    margin: 0 auto;
    position: relative;
}

.container > .table {
    margin: 2px auto;
    width: 99.87%;
    border: 0px;
    border-radius: 10px;
    background-color: var(--white);
}

.table > #title {
    font-size: x-large;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 100%;
    text-align: center;
    background-color: var(--green);
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 5px;
}

.container > .table > #tablebody {
    height: 100%;
    width: 100%;
    border-spacing: 0px 10px;
    color: var(--white);
    padding: 10px;
}
.container > .dropshadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--gray);
    border-radius: 10px;
    filter: blur(1px);
}

td {
    background-color: var(--primary);
}
tr {
    border-radius: 10px;
    border: 5px solid white;
    border-collapse: collapse;
    height: 40px;
}
tr:hover {
    cursor: pointer;
}
.id {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    color: var(--light);
    font-weight: 350;
    width: 5%;
}
.project {
    padding-left: 5%;
    font-weight: 400;
    width: 70%;
}
.client {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 350;
    width: 17%;
    padding-left: 5%;
}